{% extends "base.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block nav_login %}
<li class="active">
  <a href="{{ url_for('auth.login') }}"><i class="icon-signin"></i><span>Login</span> </a> 
</li>
{% endblock %}

<div class="account-container">
	
	<div class="content clearfix">

		<h1>{{ title }}</h1>
		
		{{ utils.flashed_messages() }}
		
		{{ wtf.quick_form(form) }}
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->



<div class="login-extra">
	<a href="#">Reset Password</a>
</div> 
{% endblock %}