{% extends "base.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

<div class="main">
  
  <div class="main-inner">

      <div class="container">
  
      <div class="row">
      <div class="span12">
            
        <div class="widget widget-plain">
          
          <div class="widget-content">
            
            <a class="btn btn-large btn-primary btn-support-ask"> <i class="icon-pencil" style="margin-right: 10px"></i> {{ title }}</a> 
            
            
          </div> <!-- /widget-content -->
            
        </div> <!-- /widget -->
        
      </div> <!-- /span12 -->
         </div> 
    
        <div class="row">
          
          <div class="span12">
            
            <div class="widget" style="width: 50%; margin:0 auto; margin-bottom: 50px">
            
                  <div class="widget-header">
                    <i class="icon-exclamation"></i>
                    <h3>Edit Your Issue</h3>
                  </div> <!-- /widget-header -->
                  
                  <div class="widget-content">

                  {{ utils.flashed_messages() }}
            
                  {{ wtf.quick_form(form) }}
                    
                  </div> <!-- /widget-content -->
                
            </div> <!-- /widget -->

        <div id="big_stats" class="cf">
                    <div class="stat"> <i class="icon-exclamation"></i> <span class="value">30</span> 
                    <br/> issues raised</div>
                    <!-- .stat -->
                    
                    <div class="stat"> <i class="icon-check"></i> <span class="value">28</span>
                    <br/> issues resolved</div>
                    <!-- .stat -->
                    
                    <div class="stat"> <i class="icon-refresh"></i> <span class="value">2</span>
                    <br/> issues in progress</div>
                    <!-- .stat -->
                    
                    <div class="stat"> <i class="icon-bell"></i> <span class="value">3</span>
                    <br/> notifications</div>
                    <!-- .stat --> 
                  </div> 
        
        </div> <!-- /spa12 -->

        </div> <!-- /row -->
  
      </div> <!-- /container -->
    
  </div> <!-- /main-inner -->
      
</div> <!-- /main -->
{% endblock %}