{% extends "base.html" %}
{% block content %}
<div class="container">
	
	<div class="row">
		
		<div class="span12">
			
			<div class="error-container">
				<h1 style="color: #40BFCE">403</h1>
				
				<h2>Forbidden!</h2>
				
				<div class="error-details">

					You don't have the permission to access the requested resource. It is either read-protected or not readable by the server.
					
				</div> <!-- /error-details -->
				
				<div class="error-actions">
					<a href="{{ url_for('main.dashboard') }}" class="btn btn-large btn-primary">
						<i class="icon-chevron-left"></i>
						&nbsp;
						Back to Dashboard						
					</a>
					
					
					
				</div> <!-- /error-actions -->
							
			</div> <!-- /error-container -->			
			
		</div> <!-- /span12 -->
		
	</div> <!-- /row -->
	
</div> <!-- /container -->
{% endblock %}