<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% if title %}
  <title>{{ title }} | Issue Tracker </title>
{% else %}
  <title>Welcome to Issue Tracker</title>
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/pages/dashboard.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/pages/signin.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/pages/faq.css') }}" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="index.html"><img src="{{ url_for('static', filename='img/logo-transp.png') }}" width="300px"></a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if current_user.is_authenticated %} 
                <i class="icon-user"></i>  Hi, {{ current_user.fullname }}! 
              {% else %}
                Welcome to Issue Tracker!
              {% endif %}
            </a>
          </li> 
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /navbar-inner --> 
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      {% if current_user.is_authenticated %} 
        <ul class="mainnav">
          <li {%- if request.path == "/dashboard" %} class="active" {% endif %}>
            <a href="{{ url_for('main.dashboard') }}"><i class="icon-dashboard"></i><span>Dashboard</span> </a> 
          </li>
          {% if current_user.is_admin == False %}
          <li {%- if request.path == "/notifications" %} class="active" {% endif %}>
            <a href="#"><i class="icon-bell"></i><span>Notifications</span> </a> 
          </li>
          <li {%- if request.path == "/issues/raise" %} class="active" {% endif %}>
            <a href="{{ url_for('issues.raise_issue') }}"><i class="icon-exclamation"></i><span>Raise Issue</span></a>
          </li>
          <li {%- if request.path == "/issues/view" %} class="active" {% endif %}>
            <a href="{{ url_for('issues.view') }}"><i class="icon-list"></i><span>My Issues</span> </a>
          </li>
          {% endif %}
          {% if current_user.is_admin == True %}
          <li {%- if request.path == "/issues/admin/view" %} class="active" {% endif %}>
            <a href="{{ url_for('issues.admin_view') }}"><i class="icon-list"></i><span>Issues Raised</span> </a>
          </li>
          <li {%- if request.path == "/departments/add" %} class="active" {% endif %}>
            <a href="{{ url_for('admin.add') }}"><i class="icon-plus"></i><span>Add Department</span> </a> 
          </li>
          <li {%- if request.path == "/departments/view" %} class="active" {% endif %}>
            <a href="{{ url_for('admin.view') }}"><i class="icon-star-empty"></i><span>View Departments</span> </a> 
          </li>
          {% endif %}
        </ul>
      {% endif %}
      <ul class="mainnav pull-right">
      {% if current_user.is_authenticated %}
        <li>
          <a href="{{ url_for('auth.logout') }}"><i class="icon-signout"></i><span>Logout</span> </a>
        </li>
      {% else %}
        <li {%- if request.path == "/login" %} class="active" {% endif %}>
          <a href="{{ url_for('auth.login') }}"><i class="icon-signin"></i><span>Login</span> </a> 
        </li>
        <li {%- if request.path == "/signup" %} class="active" {% endif %}>
          <a href="{{ url_for('auth.signup') }}"><i class="icon-user"></i><span>Register</span> </a>
        </li>
      {% endif %}  
      </ul>
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->
{% block content %}
{% endblock %}
<!-- <div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; 2016 <a href="http://www.mbithenzomo.com/">Mbithe Nzomo</a> | Andela Bootcamp VI </div>
        <!-- /span12 
      </div>
      <!-- /row
    </div>
    <!-- /container 
  </div>
  <!-- /footer-inner  
</div>
<!-- /footer -->  
</body>
</html>