{% extends "base.html" %}
{% block content %}

<div class="main">
  
  <div class="main-inner">

      <div class="container">
  
      <div class="row">
      <div class="span12">
            
        <div class="widget widget-plain">
          
          <div class="widget-content">
            
            
          </div> <!-- /widget-content -->
            
        </div> <!-- /widget -->
        
      </div> <!-- /span12 -->
         </div> 
    
        <div class="row">
          
          <div class="span12">
            
            <div class="widget" >
                    
                  <h2 class="bigstats" style="text-align:center; margin-top:50px; margin-bottom:100px; color:#40BFCE">Welcome to Issue Tracker, where your issues are on track.</h2>
                  <div style="text-align: center">
                  {% if current_user.is_authenticated %}
                    <h3> Click on one of the links on the menu above to get started!</h3>
                  {% else %}
                    <h3> You need to login or register a new account to use Issue Tracker.
                    <br/> Click on one of the links on the menu above to get started!</h3>
                  {% endif %}
                  </div>
                
            </div> <!-- /widget -->
        
        </div> <!-- /spa12 -->

        </div> <!-- /row -->
  
      </div> <!-- /container -->
    
  </div> <!-- /main-inner -->
      
</div> <!-- /main -->
{% endblock %}